#List

In [1]:
fruits = []

In [2]:
fruits.append("apple")

In [3]:
fruits.extend(["banana", "cherry"])

In [4]:
fruits.remove("banana")

In [5]:
fruits.pop()

'cherry'

In [6]:
fruits.reverse()

In [7]:
fruits.insert(1, "mango")

In [8]:
print("Elements from index 2 to 4:", fruits[2:5])

Elements from index 2 to 4: []

In [9]:
numbers = [1, 2, 3, 4, 5]

In [10]:
print("First number:", numbers[0])
print("Last number:", numbers[-1])

First number: 1
Last number: 5

In [11]:
numbers[2] = 10

In [12]:
if "grape" in fruits:
    print("Grape is in the list.")
else:
    print("Grape is not in the list.")

Grape is not in the list.

In [13]:
print("Fruits list:")
for fruit in fruits:
    print(fruit)

Fruits list:
apple
mango

In [14]:
print("Number of fruits:", len(fruits))

Number of fruits: 2

In [ ]:
Tuple

In [15]:
numbers = (1, 2, 3, 2, 4, 2)

In [16]:
count_of_2 = numbers.count(2)
print("Count of 2:", count_of_2)

Count of 2: 3

In [17]:
index_of_4 = numbers.index(4)
print("Index of 4:", index_of_4)

Index of 4: 4

In [18]:
temp_list = list(numbers)
temp_list.append(5)
numbers = tuple(temp_list)
print("Updated tuple:", numbers)

Updated tuple: (1, 2, 3, 2, 4, 2, 5)

In [19]:
colors = ("red", "green", "blue")

In [3]:
try:
    colors[0] = "yellow" 
except TypeError as e:
    print("Error:", e)

NameError: name 'colors' is not defined

In [21]:
color_list = list(colors)
color_list.append("yellow")
colors = tuple(color_list)
print("Updated colors tuple:", colors)

Updated colors tuple: ('red', 'green', 'blue', 'yellow')

#SET

In [23]:
my_set = set()

In [24]:
my_set.add("apple")
my_set.add("banana")
print("my_set after adding items:", my_set)

my_set after adding items: {'banana', 'apple'}

In [25]:
my_set.add("apple")  # Trying to add duplicate
print("After adding duplicate 'apple':", my_set)

After adding duplicate 'apple': {'banana', 'apple'}

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [27]:
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
print("Union:", union_set)
print("Intersection:", intersection_set)

Union: {1, 2, 3, 4, 5}
Intersection: {3}

In [28]:
my_set.discard("banana")
print("After discarding 'banana':", my_set)

After discarding 'banana': {'apple'}

In [29]:
print("Elements in my_set:")
for item in my_set:
    print(item)

Elements in my_set:
apple

#Dictionary

In [35]:
person = {"name": "Ali"}

In [37]:
person["age"] = 25
print("After adding age:", person)

After adding age: {'name': 'Ali', 'age': 25}

In [38]:
person["name"] = "Ahmed"
print("After updating name:", person)

After updating name: {'name': 'Ahmed', 'age': 25}

In [33]:
student = {"name": "Sara", "grade": "A", "age": 17}
print("Student Dictionary:", student)

Student Dictionary: {'name': 'Sara', 'grade': 'A', 'age': 17}

In [39]:
print("Keys:", student.keys())

Keys: dict_keys(['name', 'grade', 'age'])

In [40]:
print("Values:", student.values())

Values: dict_values(['Sara', 'A', 17])

In [41]:
if "grade" in student:
    print("'grade' key exists in student dictionary.")

'grade' key exists in student dictionary.

In [42]:
print("Student info:")
for key, value in student.items():
    print(key, ":", value)

Student info:
name : Sara
grade : A
age : 17

 #Elif

In [43]:
numbers = [5, 10, 15, 20, 25]

In [44]:
if 10 in numbers:
    print("Found 10")
else:
    print("10 not found")

Found 10

In [45]:
if any(num > 20 for num in numbers):
    print("Large number")
else:
    print("Small number")

Large number

#Simple Expression

In [46]:
a = 5
b = 10

print("a + b =", a + b)
print("a * b =", a * b)
print("b - a =", b - a)
print("b / a =", b / a)

a + b = 15
a * b = 50
b - a = 5
b / a = 2.0

In [47]:
result = (a + b) * 2
print("Result of (a + b) * 2 =", result)

Result of (a + b) * 2 = 30

In [48]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

Enter your age:  20

You are an adult

#More expression

In [49]:
width = 5
height = 10
area = width * height
print("Area of the rectangle:", area)

Area of the rectangle: 50

In [50]:
C = 25
F = (C * 9/5) + 32
print("Temperature in Fahrenheit:", F)

Temperature in Fahrenheit: 77.0

In [51]:
P = 1000  # Principal
R = 5     # Rate of interest
T = 2     # Time in years
SI = (P * R * T) / 100
print("Simple Interest:", SI)

Simple Interest: 100.0

#Range Function

In [52]:
for i in range(5):
    print(i)

0
1
2
3
4

In [53]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [55]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [56]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [57]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [58]:
number_list = list(range(3, 8))
print(number_list)

[3, 4, 5, 6, 7]

In [59]:
for i in range(1, 6):
    print(f"Square of {i}: {i ** 2}")

Square of 1: 1
Square of 2: 4
Square of 3: 9
Square of 4: 16
Square of 5: 25